<div class="row">
  <div class="col-sm-1">
  </div>
  <div class="col-sm-7">
    <label for="">
      <h3>Book List</h3>
      <a class="" [routerLink]="['/book-add']">Add new</a>
    </label>
    <table class="table table-bordered">
      <thead [ngClass]="{headerBackground:headerStatus,footerBackground:footerStatus}" (click)="toggle()">
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Author</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let book of bookList" [class.selected]="book === selectedBook">
          <td>{{book.id}}</td>
          <td>
            <a routerLink="/book-detail/{{book.id}}">
              {{book.name}}
            </a>
          </td>
          <td>{{book.author}}</td>
          <td>
            <a routerLink="/book-edit/{{book.id}}">
              Edit
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item" *ngFor="let page of pages">
          <a class="page-link" [routerLink]="['/bookList']" [queryParams]="{page:page, filter:123}">{{page}}</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="col-sm-4">
    <!-- <app-book-detail [book]="selectedBook"></app-book-detail> -->
  </div>
</div>