<!-- <app-book></app-book> -->

<section>
    <h2 class="text-center">
        Welcome to {{ title }}!
      </h2>

      <ul class="nav nav-pills">
          <li><a routerLink="" routerLinkActive="active">Home page</a></li>
          <li><a routerLink="bookList" routerLinkActive="active" >Book List</a></li>
          <li><a routerLink="login" routerLinkActive="active" >Login</a></li>
          <li><a  (click)="Logout()">Logout</a></li>
      </ul>
</section>

<router-outlet> </router-outlet>
<section>
    <div class="footer">
        <p>Footer</p>
      </div>
</section>